[Unit]
Description=Easy Effects
PartOf=graphical-session.target
After=graphical-session.target
# Skip system users, e.g. the GDM greeter
ConditionUser=!@system

[Service]
ExecStart=/usr/bin/easyeffects --gapplication-service
Restart=on-failure

[Install]
WantedBy=graphical-session.target
